@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p-color-bg-app: #eceef3;
}

.Polaris-Badge {
  margin: 1px;
}
.Polaris-Badge .Polaris-Text--root {
  padding: 2.5px;
}
.Polaris-Box {
  margin: 10px 0;
  min-width: 200px;
}